body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    background-image: url("Registration_photo_final.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #login-box {
    position: relative;
    margin: 5% auto;
    width: 500px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.452);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
    border-radius: 2px;
    background-size: 100% 100%;
  }
  
  .left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }
  
  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.361);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: none;
    
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #ffffff;
    
    color: #ffffff;
    
    transition: 0.4s ease;
  }
  
  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #1bb5b1;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  .right {
    padding-left: 285px; 
  }
  ::placeholder{
    color: #ffffff;
  }
 